@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

body, html {
    font-family: 'Ubuntu';
    margin: 0;

    a {
        text-decoration: none;
    }
}

header {
    padding: 2em;

    .logo {
        color: black;
        font-weight: bold;
    }

    .menu-btn {
        width: 18px;
        float: right;
        cursor: pointer;
    }
}

section {
    padding: 4em;

    h1 {
        font-size: 5em;
        margin: 1em auto;
        width: 70%;

        &::before {
            content: ' ';
            border-top: 3.5px solid rgb(199, 199, 199);
            display: block;
        }
    }
    
}

nav {
    position: absolute;
    background: rgb(20, 19, 19);
    padding: 2em;
    width: calc(100% - 4em);
    height: calc(100vh - 4em);
    display: none;
    transform: scaleX(0);
    transform-origin: right;

    .close-btn {
        width: 18px;
        float: right;
        cursor: pointer;
        opacity: 0;
    }

    ul {
        list-style-type: none;
        margin: 10% auto 0 auto;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(4, auto);
        width: 80%;

        a {
            color: white;
            font-weight: bold;
            font-size: 1.4em;
        }

        span {
            color: gray;
            display: block;
            font-size: .75em;
            margin-top: 20px;
        }

        li {
            opacity: 0;
        }
    }
}

.show-menu {
    display: block;
    animation: slide-menu 1s ease-in forwards;
    
    .close-btn {
        animation: show-x 1s 1s forwards;
    }

    li:nth-of-type(1) {
        animation: menu-item-anim .6s forwards 1.1s ease-in-out;
    }

    li:nth-of-type(2) {
        animation: menu-item-anim .6s forwards 1.3s ease-in-out;
    }

    li:nth-of-type(3) {
        animation: menu-item-anim .6s forwards 1.5s ease-in-out;
    }

    li:nth-of-type(4) {
        animation: menu-item-anim .6s forwards 1.7s ease-in-out;
    }
}

@keyframes slide-menu {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

@keyframes show-x {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes menu-item-anim {
    0% { opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -300, 0, 1); }
    4.7% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -165.092, 0, 1); }
    9.41% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -34.962, 0, 1); }
    14.11% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 42.273, 0, 1); }
    18.72% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 63.633, 0, 1); }
    24.32% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 45.164, 0, 1); }
    29.93% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 14.277, 0, 1); }
    35.54% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -6.172, 0, 1); }
    41.04% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -11.753, 0, 1); }
    52.15% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -2.637, 0, 1); }
    63.26% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 2.171, 0, 1); }
    85.49% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.401, 0, 1); }
    100% { opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}